.latar {
  background-image: url('../img/background.jpeg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  /* .latar {
    background-size: cover;
  }
  .home-content {
    font-size: 16px;
    background-size: cover;
  } */

  .form-group {
    background-size: cover;
    width: 50%;
    height: 100vh;
  }

  .formgmlist {
    display: flex;
    flex-wrap: wrap;
  }
  .p-4 {
    font-size: 16px;
    height: 100vh;
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 93.3px;
}

.home-content {
  background-image: linear-gradient(to bottom, rgba(39, 157, 236, 0.507), rgba(255, 0, 0, 0.712));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.formhome {
  padding-bottom: 135px;
  border-radius: 100px;
}

.home-left {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.user-display-name {
  font-size: xx-large;
  font-weight: bolder;
  font-style: italic;
  color: rgb(85, 7, 212);
}

.home-box-game {
  display: flex;
  align-items: center;
  border: 2px solid #000000;
}

.home-box-game img {
  max-width: 200px;
}

/* login page */
.form-group {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 301px;
}

.form-group h1 {
  padding-bottom: 10px;
}

/* register page */
.register {
  padding-top: 10px;
  padding-bottom: 407px;
}
.register h1 {
  padding-bottom: 10px;
}

/* game list */
.formgmlist {
  padding-top: 22px;
  padding-bottom: 10px;
}

.card {
  text-align: center;
  background-image: linear-gradient(
    to top right,
    rgba(22, 43, 236, 0.856),
    rgba(224, 16, 16, 0.877)
  );
  border-radius: 40px;
}

/* game-detail */
.detail-page {
  background-image: linear-gradient(to bottom, rgba(39, 157, 236, 0.507), rgba(255, 0, 0, 0.712));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding-top: 50px;
  padding-bottom: 52px;
}
.card-body.p-4 h2 {
  padding-bottom: 10px;
}

.game-game-bottom {
  display: flex;
  align-items: center;
  gap: 90px;
  padding-bottom: 46px;
}

/* content media */
.media {
  align-items: center;
  padding-bottom: 100px;
}

.download {
  padding-bottom: 90px;
}

.download-container {
  padding-top: 20px;
}

/* reset password */
.button-group {
  padding-bottom: 70px;
}
